<div>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Content:</b>
    <%= @comment.content %>
  </p>

  <p>
    <b>User:</b>
    <%= @comment.user %>
  </p>


  <div>
  <% if can? :edit, @comment %>
    <%= link_to 'Delete',comment_path(@comment)%>
  <% end %>
    <%= link_to 'Back', user_path(@comment.user.id)%>
  </div
</div>