<%= content_for :page_title, 'HighVoltage-About' %>

<div class="row span12 text-center">
  <h1>Let's Talk</h1>
</div>
<div class="">
<% @users.each do |user| %>
  <div class="span3 well">
    <h4>
        <%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %>
        <%= render 'friendship', :user => user %>
    </h4>
    <% if user.avatar? %>
      <%= link_to image_tag(user.avatar_url(:detail)), "#info#{user.id}"%>
    <% else %>
      <%= link_to image_tag('rails.png'), "#info#{user.id}"%>
    <% end %>

    <section class="text-center">
      <label class="">
        <%= link_to pluralize(user.friendships.count, "Friend"), user_friendships_path(user) %> |
        <%= link_to pluralize(user.friendships_as_friend.count, "Follower"), user_followers_path(user) %>
      </label>
    </section>

     <% user.user_languages.each do |user_language| %>
      <span class="">
        <i class="icon icon-flag"></i>
        <%= user_language.language.name %>
        <%= user_language.level %>
      </span>
    <% end %>
    
    <section id="info<%= user.id %>" class="hidden">
      <%= user.languages %><br />
      <%= user.email %><br />
      <%= user.skype_account %><br />
      <%= user.biography %>
    </section>

  </div>
<% end %>
</div>

<div class="row span12 text-center">
  <%= paginate @users %>
</div>



