<h1>Let's Talk</h1>
<%= content_for :page_title, 'HighVoltage-About' %>
<div class="">
<% @users.each do |user| %>
  <div class="span3">
    <h4><%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %></h4>
    <%= render 'friendship', :user => user %>
    <%= render 'chat', :user => user %>
    <% user.user_languages.each do |user_language| %>
      <%= user_language.language.name %>
      <%= user_language.level %>
    <% end %>
    <br/>
    <% if user.avatar? %>
      <%= link_to image_tag(user.avatar_url(:detail)), "#info#{user.id}"%>
    <% else %>
      <%= link_to image_tag('rails.png'), "#info#{user.id}"%>
    <% end %>

    <section>
      <label class="label label-success">
        <%= link_to pluralize(user.friendships.count, "Favourite") %> |
        <%= link_to pluralize(user.friendships_as_friend.count, "Follower") %>
      </label>
    </section>
    
    <section id="info<%= user.id %>" class="hidden">
      <%= user.languages %><br />
      <%= user.email %><br />
      <%= user.skype_account %><br />
      <%= user.biography %>
    </section>

  </div>
<% end %>
</div>
<%= paginate @users %>




