<p id="notice"><%= notice %></p>


<h3><%= @user.firstname %> <%= @user.lastname %></h3>
  
  <% if @user.avatar? %>
    <%= image_tag @user.avatar_url(:detail) %>
  <% end %>
  
  <% @user.user_languages.each do |user_language| %>
    <li><%= user_language.language.name %> (<%= user_language.level %>)</li>
  <% end %>

  <p>Biography: <br/>
    <%= @user.biography %>
  </p>

  <p>Email: <br/>
    <%= @user.email %>
  </p>

  <p>Skype Account: <br/>
    <%= @user.skype_account %>
  </p>

  <section>
    <% if @user.available_to_meet %>
      <label class="label label-success">Available to meet</label>
    <% end %>
  </section>


<% if can? :update, @user %>
  <%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn" %>
<% end %>
<% if can? :delete, @user %>
  <%= link_to 'Delete', user_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<% end %>
<br/>
<%= link_to 'Back', users_path %>