<p id="notice"><%= notice %></p>

<div class="span8 well offset2 row text-center">
<h3><%= @user.firstname %> <%= @user.lastname %></h3>
  
  <% if @user.avatar? %>
    <%= image_tag @user.avatar_url(:detail) %>
  <% end %>
  
  <% @user.user_languages.each do |user_language| %>
    <li><%= user_language.language.name %> (<%= user_language.level %>)</li>
  <% end %>

  <p>Biography: <br/>
    <%= @user.biography %>
  </p>

  <p>Email: <br/>
    <%= @user.email %>
  </p>

  <p>Skype Account: <br/>
    <%= @user.skype_account %>
  </p>

  <section>
    <% if @user.available_to_meet %>
      <label class="label label-success">Available to meet</label>
    <% end %>
  </section>

  <h3> Comments: </h3>
    <%unless current_user %>
      <p> Please <%= link_to 'log in', login_path %> to leave a comment </p>
    <% end %>

  <div class="">
    <ul>
    <% @user.comments[0..2].each do |comment| %>
      <li class="well text-left">

        <h3><%= "#{comment.writer.firstname} #{comment.writer.lastname}:" %></h3>
        <p class="">
        <%= comment.content%>
      </p>
        <span class="pull-right">
          on <%= comment.created_at.strftime('%c') %>
        <% if can? :destroy, comment %>
          <%= link_to 'Delete', user_comment_path(@user, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"  %>
        </span>
        <br/>

      </li>
      <% end %>
    <% end %>   
    <ul>
  </div><br>
<%= render "comments/form"%> <% if can? :create, @comment %> <% end %>

<% if can? :update, @user %>
  <%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn" %>
<% end %>
<% if can? :delete, @user %>
  <%= link_to 'Delete', user_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<% end %>
<br/>
<%= link_to 'Back', users_path %>
</div>