<p id="notice"><%= notice %></p>

<h3><%= @user.firstname %> <%= @user.lastname %></h3>

  <p>Biography:
    <%= @user.biography %>
  </p>

  <p>Email:
    <%= @user.email %>
  </p>

  <p>Skype Account:
    <%= @user.skype_account %>
  </p>

  <p>Available to meet:
    <%= @user.available_to_meet %>
  </p>



<% if can? :update, @user %>
  <%= link_to 'Edit your Profile', edit_user_registration_path %>
<% end %>
<%= link_to 'Back', users_path %>