<p id="notice"><%= notice %></p>


<h3><%= @user.firstname %> <%= @user.lastname %></h3>
  
  <% if @user.avatar? %>
    <%= image_tag @user.avatar_url(:detail) %>
  <% end %>
  <p>Biography:
    <%= @user.biography %>
  </p>

  <p>Email:
    <%= @user.email %>
  </p>

  <p>Skype Account:
    <%= @user.skype_account %>
  </p>

  <section>
    <% if @user.available_to_meet %>
      <label class="label label-success">Available to meet</label>
    <% end %>
  </section>


<% if can? :update, @user %>
  <%= link_to 'Edit your Profile', edit_user_registration_path %>
<% end %>

<%= link_to 'Back', users_path %>